alembic==1.14.1
annotated-types
anyio
appnope
astroid
asttokens
black
blinker
boto3
botocore
Bottleneck
Brotli
cachetools==5.5.2
certifi==2023.7.22
cffi
cfgv==3.4.0
chardet
charset-normalizer==3.3.0
click
colorama
comm
contourpy==1.1.1
cryptography
cycler==0.12.1
debugpy
decorator
dill
distlib==0.3.9
distro
exceptiongroup
executing
fastapi
filelock==3.12.4
Flask
Flask-Cors
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy
fonttools==4.43.1
freezegun==1.5.1
fsspec==2023.9.2
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet
h11
httpcore
httpx
humanize
identify==2.6.6
idna==3.4
importlib_metadata
iniconfig
ipykernel
ipython
isort
itsdangerous
jedi
Jinja2==3.1.2
jiter
jmespath
jupyter_client
jupyter_core
kiwisolver==1.4.5
Mako==1.3.8
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline
mccabe
mpmath==1.3.0
mypy-extensions
nest_asyncio
networkx==3.1
nodeenv==1.9.1
numexpr
numpy
openai
packaging==23.2
pandas
parso
pathspec
pexpect
pickleshare
platformdirs
pluggy
pre_commit==4.1.0
prompt_toolkit
proto-plus==1.26.1
protobuf==6.31.1
psutil
psycopg2-binary==2.9.10
ptyprocess
pure_eval
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pylint
pyOpenSSL
pyparsing==3.1.1
PySocks
pytest
python-dateutil==2.8.2
python-dotenv
pytz
PyYAML==6.0.1
pyzmq
regex==2023.10.3
requests==2.31.0
rsa==4.9.1
s3transfer
six==1.16.0
sniffio
SQLAlchemy
stack_data
starlette
sympy==1.12
tomli
tomlkit
tornado
tqdm==4.66.1
traitlets
typing_extensions
tzdata
urllib3
virtualenv==20.29.1
wcwidth
Werkzeug==3.1.3
zipp
